body{
    font-family: 'Handjet', cursive;
    color: rgb(7, 255, 102);
    background: rgb(29, 29, 29);
}

h1{
    font-family: 'Handjet', cursive;
    text-align: center;
    color: rgb(7, 255, 102);
    font-weight: lighter;
    font-size: 80px;
    text-shadow: 0 0 15px rgb(255, 0, 157);
}
.glow-border {
    /* Other button styles */
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    border: 2px solid transparent; /* Set an initial transparent border */
    border-radius: 20px;
    padding: 5px;
    transition: border-color 0.3s ease-in-out; /* Add a transition effect */
    cursor: pointer;
    /* Add a box-shadow for the glow effect */
    box-shadow: 0 0 8px rgb(255, 0, 191); /* Adjust the color and spread as needed */
    max-width: 800px;
  }
  
  /* Apply the glow effect when the button is hovered */
.glow-border:hover {
    border-color: rgb(255, 0, 191); /* Match the box-shadow color */
}

[book-name]{
  padding-left: 20px;
  align-items: center;
}

.readUnread{
  background: None;
  border: none;
  padding: 2px;
  margin-left: auto;
  margin-right: 10px;
  font-size: larger;
}
.btn_s{
  margin-left: 20px;
  background: rgb(51, 51, 51);
  color: rgb(7, 255, 102);
  border: 2px solid transparent;
  border-radius: 25px;
  padding: 5px;
  font-family: 'Handjet', cursive;
  font-size: larger;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.btn_s:hover{
  background-color: rgb(255, 0, 191);
  box-shadow: 0 0 8px rgb(255, 0, 191);
}
.btn_s:active{
  background: gray;
  transform: scale(.95);
}

#inputForm{
  text-align: center;
  align-items: center;
}

label{
  padding: 5px;
  margin-left: 15px;
  font-size: 20px;
}
#name{
  color: rgb(7, 255, 102);
  border: 2px solid transparent;
  border-radius: 20px;
  background: none;
  outline: none;
  padding: 2px;
  box-shadow: 0 0 5px rgb(255, 0, 191);
  transition: border-color 0.3s ease-in-out;
}
#name:hover{
  border-color: rgb(255, 0, 191);
}
#bookLink{
  color: rgb(7, 255, 102);
  border: 2px solid transparent;
  border-radius: 20px;
  background: none;
  outline: none;
  padding: 2px;
  box-shadow: 0 0 5px rgb(255, 0, 191);
  transition: border-color 0.3s ease-in-out;
}

#bookLink:hover{
  border-color: rgb(255, 0, 191);
}

[book-remove]{
  font-size: larger;
  background: none;
  border: transparent;
}

footer{
  margin-top: 650px;
}

.gthb{
  color: greenyellow;
  text-decoration: none;
}